[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
flask = "*"
requests = "*"

[dev-packages]
pytest = "*"
tox = "*"
bumpversion = "*"
hypothesis = "*"
coverage = "*"
pymail = {editable = true, path = "."}

[requires]
python_version = "3.7"
