-i https://pypi.org/simple
-e .
aiosmtpd==1.2
atomicwrites==1.2.1
atpublic==1.0
attrs==18.2.0
bumpversion==0.5.3
certifi==2018.10.15
chardet==3.0.4
click==7.0
coverage==4.5.2
filelock==3.0.10
flask==1.0.2
hypothesis==3.82.1
idna==2.7
itsdangerous==1.1.0
jinja2==2.10
markupsafe==1.1.0
more-itertools==4.3.0
pluggy==0.8.0
py==1.7.0
pytest==4.0.0
requests==2.20.1
six==1.11.0
sqlalchemy==1.2.14
toml==0.10.0
tox==3.5.3
urllib3==1.24.1
virtualenv==16.1.0
werkzeug==0.14.1
